NEO4J_USERNAME=neo4j-username
NEO4J_PASSWORD=neo4j-password
NEO4J_URI=neo4j-uri
NEO4J_DATABASE=neo4j-database

GCP_PROJECT_ID=project-id
GCP_PROJECT_NUMBER=project-number

BIGQUERY_DATASET_ID=demo_ecommerce
BIGQUERY_LOCATION=us

DATAPLEX_LOCATION=us
DATAPLEX_GLOSSARY_ID=glossary-id

OPENAI_API_KEY=...